<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>User Interface</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>button_position</string>
			<key>Title</key>
			<string>Buttons</string>
			<key>Titles</key>
			<array>
				<string>mittig</string>
				<string>rechts</string>
			</array>
			<key>Values</key>
			<array>
				<string>ProductCellv7</string>
				<string>ProductCellv6</string>
			</array>
			<key>DefaultValue</key>
			<string>ProductCellv7</string>
		</dict>
	</array>
</dict>
</plist>
